.ant-input {
	background: #EBEBEB;
	border-radius: 20px;
	width: 100%;

	&:not(.ant-input-disabled):hover {
		box-shadow: $shadow-hover;
	}

	&-lg {
		border-radius: 25px;
	}

	&-disabled {
		background: rgba(#CCC, .1);
		border-color: rgba(#CCC, .5);
		color: #BDBDBD;
	}
}

.ant-calendar-picker {
	width: 100%;

	.ant-calendar-picker-clear {
		background-color: #EBEBEB;
	}

	.ant-calendar-range-picker-separator {
		vertical-align: middle;
	}
}

.ant-calendar-input-wrap {
	height: 40px;
}
