@use "sass:color";
@import "./colors";

// Custom Palette
$dark: material-palette(grey, 900);
$dark-contrast: color.adjust($dark, $lightness: 100%);

$light: material-palette(grey, 300);
$light-contrast: color.adjust($light, $lightness: 100%);

$themes: (
	light: (
		50: color.adjust($light, $lightness: 50%),
		100: color.adjust($light, $lightness: 45%),
		200: color.adjust($light, $lightness: 40%),
		300: color.adjust($light, $lightness: 35%),
		400: color.adjust($light, $lightness: 30%),
		500: color.adjust($light, $lightness: 25%),
		600: color.adjust($light, $lightness: 20%),
		700: color.adjust($light, $lightness: 15%),
		800: color.adjust($light, $lightness: 5%),
		900: $light,
		contrast: (
			50: color.adjust($light-contrast, $lightness: -50%),
			100: color.adjust($light-contrast, $lightness: -55%),
			200: color.adjust($light-contrast, $lightness: -60%),
			300: color.adjust($light-contrast, $lightness: -65%),
			400: color.adjust($light-contrast, $lightness: -70%),
			500: color.adjust($light-contrast, $lightness: -75%),
			600: color.adjust($light-contrast, $lightness: -80%),
			700: color.adjust($light-contrast, $lightness: -85%),
			800: color.adjust($light-contrast, $lightness: -90%),
			900: color.adjust($light, $lightness: 100%),
		)
	),
	dark: (
		50: color.adjust($dark, $lightness: 50%),
		100: color.adjust($dark, $lightness: 45%),
		200: color.adjust($dark, $lightness: 40%),
		300: color.adjust($dark, $lightness: 35%),
		400: color.adjust($dark, $lightness: 30%),
		500: color.adjust($dark, $lightness: 25%),
		600: color.adjust($dark, $lightness: 20%),
		700: color.adjust($dark, $lightness: 15%),
		800: color.adjust($dark, $lightness: 5%),
		900: $dark,
		contrast: (
			50: color.adjust($dark-contrast, $lightness: -50%),
			100: color.adjust($dark-contrast, $lightness: -45%),
			200: color.adjust($dark-contrast, $lightness: -40%),
			300: color.adjust($dark-contrast, $lightness: -35%),
			400: color.adjust($dark-contrast, $lightness: -30%),
			500: color.adjust($dark-contrast, $lightness: -25%),
			600: color.adjust($dark-contrast, $lightness: -20%),
			700: color.adjust($dark-contrast, $lightness: -15%),
			800: color.adjust($dark-contrast, $lightness: -5%),
			900: color.adjust($dark, $lightness: 100%),
		)
	)
);

$main-palette: null;

@mixin set-theme($key: 'light') {
	$main-palette: map-get($themes, $key) !global;
}

@include set-theme();

@function main-palette($key: $main-palette) {
	@return map-get($main-palette, $key);
}

@function main-contrast($key: $main-palette) {
	@return map-get(map-get($main-palette, contrast), $key);
}

$accent-color: material-palette(indigo, 500);
$accent-text: material-palette(grey, 50);
$accent-hover: color.adjust(material-palette(indigo, 500), $lightness: -10%);

$success-color: material-palette(light-green, 500);
$success-text: material-palette(grey, 50);
$success-hover: color.adjust(material-palette(light-green, 500), $lightness: -10%);

$info-color: material-palette(light-blue, 500);
$info-text: material-palette(grey, 50);
$info-hover: color.adjust(material-palette(light-blue, 500), $lightness: -10%);

$warning-color: material-palette(amber, 500);
$warning-text: material-palette(grey, 50);
$warning-hover: color.adjust(material-palette(amber, 500), $lightness: -10%);

$error-color: material-palette(pink, 500);
$error-text: material-palette(grey, 50);
$error-hover: color.adjust(material-palette(pink, 500), $lightness: -10%);