@import '~src/assets/sass/variables';

.notifier__container * {
	box-sizing: border-box;
}

.notifier__container-list {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

.notifier__notification {
	display: block;
	position: fixed;
	visibility: hidden;
	z-index: 10000;
	will-change: transform;
	backface-visibility: hidden;
}

.notifier__notification--material {
	border-radius: .2rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 20%);
	cursor: default;
	padding: .5rem 1.5rem;
	text-transform: uppercase;
}

.notifier__notification--material .notifier__notification-message {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
	line-height: 2.4rem;
	font-size: 1.2rem;

	@media #{$max991} {
		font-size: .8rem;
		line-height: 1.6rem;
	}
}

.notifier__notification--material .notifier__notification-button {
	display: inline-block;
	transition: opacity .2s ease;
	opacity: 50%;
	margin-right: -10px;
	margin-left: 10px;
	outline: none;
	border: none;
	background: none;
	cursor: pointer;
	padding: 6px;
	width: 32px;
	height: 32px;
	vertical-align: top;
}

.notifier__notification--material .notifier__notification-button:hover,
.notifier__notification--material .notifier__notification-button:focus {
	opacity: 100%;
}

.notifier__notification--material .notifier__notification-button:active {
	transform: scale(0.82);
	opacity: 100%;
}

.notifier__notification--default {
	background-color: #353535;
	color: #FFF;
}

.notifier__notification--default .notifier__notification-button-icon {
	fill: #FFF;
}

.notifier__notification--error {
	background-color: #D9534F;
	color: #FFF;
}

.notifier__notification--error .notifier__notification-button-icon {
	fill: #FFF;
}

.notifier__notification--info {
	background-color: #5BC0DE;
	color: #FFF;
}

.notifier__notification--info .notifier__notification-button-icon {
	fill: #FFF;
}

.notifier__notification--success {
	background-color: #559155;
	color: #FFF;
}

.notifier__notification--success .notifier__notification-button-icon {
	fill: #FFF;
}

.notifier__notification--warning {
	background-color: #F0AD4E;
	color: #FFF;
}

.notifier__notification--warning .notifier__notification-button-icon {
	fill: #FFF;
}
