@use "sass:math";

@import "./colors";
@import "./structure";
@import "./typography";

body {
	mat-bottom-sheet-container {
		padding: 1rem !important;
		background: $main-800 !important;
		border-top-right-radius: $r-md !important;
		border-top-left-radius: $r-md !important;
	}

	.modal-overlay-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 1000;

		.modal-panel {
			max-width: 100%;
			position: static;
			padding: 1rem !important;
			background: $main-800 !important;
			border-radius: $r-md;
		}
	}

	.list-toolbar-overlay-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		position: absolute;
		z-index: 1000;

		.list-toolbar-panel {
			max-width: 100%;
			position: static;
			padding: 1rem !important;
			background: $main-800 !important;
			border-radius: $r-md;
			margin-bottom: 2rem;
		}
	}
}
