@use "sass:math";

$base-size: 1rem;

// Radius
$r-xs: math.div($base-size, 3);
$r-sm: math.div($base-size, 2);
$r-md: math.div($base-size, 1.5);
$r-lg: $base-size;
$r-xl: $base-size * 1.5;

// Padding
$p-xs: math.div($base-size, 2);
$p-sm: math.div($base-size, 1.5);
$p-md: $base-size;
$p-lg: $base-size * 1.5;
$p-xl: $base-size * 2;

// Margin
$m-xs: math.div($base-size, 2);
$m-sm: math.div($base-size, 1.5);
$m-md: $base-size;
$m-lg: $base-size * 1.5;
$m-xl: $base-size * 2;

// Shadow
$s-sm: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px !important;
$s-md: 0 0.5rem 1rem rgba(0, 0, 0, 15%) !important;
